<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/Static/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Insurance Prediction App</h2>
        <p>Click the button below to make a prediction.</p>
        <a href="/prediction">
            <button>Go to Prediction Form</button>
        </a>
    </div>
</body>
</html>
